:root {
  --main-width: 60%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: roboto, sans-serif;
}

.header-container {
  display: flex;
  width: 100%;
  background-color: #1f2937;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: var(--main-width);
}

.header-links {
  display: flex;
  align-items: center;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.content-container > * {
  flex: 1;
}

.container-main {
  display: flex;
  background-color: #1f2937;
  width: 100%;
  justify-content: center;
}
.content-main {
  display: flex;
  background-color: #1f2937;
  width: var(--main-width);
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-right-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-style: bold;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.main-right-image img {
  width: 300px;
  height: auto;
  border-color: #e5e7eb;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.content-images {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: var(--main-width);
}

.info {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.images-text img {
  width: 125px;
  height: auto;
  border-radius: 10px;
}

.images-text-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.text {
  display: flex;
  justify-content: center;
}

.container-quote {
  display: flex;
  background-color: #e5e7eb;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.content-quote {
  display: flex;
  background-color: #e5e7eb;
  flex-direction: column;
  width: var(--main-width);
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  width: 50%;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 40px;
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
  width: var(--main-width);
}

.btn-call-to-action {
  border-radius: 10px;
  border-color: white;
  background-color: #3882f6;
  color: white;
  padding: 0 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px;
}

/* * {
  border: red 1px solid;
} */
